.media-wrapper {
    display: flex;
    align-self: center;
    border: 1px solid $gray;
    border-radius: $border-radius;
    justify-content: space-around;
    padding: 2rem 0;
    margin-top: 3rem;
    box-shadow: 2px 2px 12px $gray;
    @media screen and (max-width: $bp-desktop) {
        width: 90%;
        margin: 3rem auto;
        padding-left: 1rem;
    }
    @media screen and (max-width: $bp-tablet) {
        flex-direction: column;
    }
    table {
        color: $dark-white;
        margin: 0 1rem;
    }
    th, td {
        background-color: $gray;
        border: 1px solid $gray;
    }
    th {
        width: 100px;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    td {
        border-bottom-right-radius: ($border-radius * 4);
        border-top-right-radius: ($border-radius * 4);
    }
    .media-picture {
        text-align: center;
        border: 1px solid $gray;
        background: $gray;
        border-radius: $border-radius;
        @media screen and (max-width: $bp-tablet) {
            margin: 0 auto 2rem;
        }
        span {
            background: $gray;
            display: block;
            width: fit-content;
            padding: 1rem;
            border-radius: $border-radius;
        }
        img {
            width: 292px;
            border-radius: $border-radius;
        }
    }
    .media-details {
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: $bp-tablet) {
            width: 100%;
        }
        h1 {
            font-size: 2rem;
            color: $dark-white;
            margin: 0 1rem 1rem 1rem;
        }
        table {
            margin-top: 2rem;
        }
    }
}
