.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: $black;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    color: $dark-white;
    @media screen and (max-width: $bp-desktop) {
        padding: 0 2rem;
    }
    @media screen and (max-width: $bp-tablet) {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: fit-content;
    }
    .lastmod {
        color: gray;
    }
    a {
        font-size: 1.4rem;
        color: $white;
        .social {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: auto;
                margin: 0 1rem;
                @media screen and (max-width: $bp-tablet) {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
}
