.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: $black;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    color: $dark-white;
    .lastmod {
        color: gray;
    }
    a {
        font-size: 1.4rem;
        color: $white;
        .social {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: auto;
                margin: 0 1rem;
            }
        }
    }
}
