#wrapper {
    width: 1200px;
    min-height: 400px;
    height: auto;
    flex: 1 0 auto;
    margin: 0 auto;
    @media screen and (max-width: $bp-desktop) {
        width: 100%;
    }
}

.intro {
    color: $white;
    margin: 1rem;
    border: 2px solid $turquoise;
    border-radius: $border-radius;
    font-size: 1.2rem;
    background: $trans-gray;
    line-height: 1rem;
    width: fit-content;
    p {
        margin: 1rem 2rem;
        line-height: 1.5rem;
    }
}
.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: $bp-desktop) {
        width: 100%;
    }
    li {
        @include bg-gradient;
        // background: $item-bg;
        display: flex;
        align-content: center;
        width: 212px;
        height: auto;
        min-height: 300px;
        position: relative;
        margin: 2rem 1.5rem;
        border-radius: $border-radius;
        transition: transform 0.2s;
        &:hover {
            transition: all 0.2s;
            transform: scale(1.00);
            box-shadow: 2px 2px 10px rgba(101, 236, 236, 0.1);
        }
        &:active {
            transition: transform 0s;
            transform: translateY(2px) scale(1.01);;
        }
        a.item {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            text-decoration: none;
            color: $white;
            opacity: 1;
            &:after {
                content: '+';
                opacity: 0;
                transition: opacity 0.2s;
                padding: 0.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: $border-radius;
                font-size: 3rem;
                position: absolute;
                height: 28px;
                width: 25px;
                top: 23px;
                right: 22px;
                color: #6ec5bf;
                text-shadow: 2px 2px 15px #6ec5bf;
            }
            &:hover:after {
                content: '+';
                transition: opacity 0.1s;
                opacity: 1;
            }
            img {
                max-width: 180px;
                width: 180px;
                height: auto;
                border-radius: $border-radius;
            }
            button {
                @include button-gradient;
                // display: flex;
                // justify-content: space-between;
                border-radius: $border-radius;
                border: none;
                margin-top: auto;
                &:hover span {
                    padding-right: 25px;
                    &:after {
                        opacity: 1;
                        right: 0;
                        padding-left: 0.5rem;
                    }
                }
                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                    &:after {
                        content: '>';
                        line-height: 1.2rem;
                        font-size: 1.2rem;
                        padding: 0;
                        position: absolute;
                        opacity: 0;
                        top: 0px;
                        left: 68px;
                        transition: 0.5s;
                    }
                }
                &:hover {
                    // content: "View Details >>>"
                }
            }
        }
    }
}

.media-details form {
    margin-left: 0;
}

tr {
    text-align: left;
}

td, th {
    padding: 5px 5px;
}

form {
    width: 475px;
    margin: 34px auto;
    th {
        width: 150px;
        vertical-align: middle;
        padding: 8px;
    }
    td {
        padding: 15px 15px;
    }
    tr {
        text-align:left;
        vertical-align: top;
        padding:2px;
    }
    table {
        width: 475px;
        margin-bottom: 16px;
    }
}

form td {
    form td select,
    form td input,
    form td textarea {
        width: 100%;
        border-radius: 4px;
        padding: 10px;
        border: 1px solid #a5a5a5;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
}
form input[type="submit"] {
    width: 475px;
    text-align: center;
    border: 0;
    background: #3888c2;
    color: #FFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    padding: 14px 0 16px;
    font-family: 'Open Sans', sans-serif;
}
form input[type="submit"]:hover {
    background: #358dce;
    cursor: pointer;
}

.search {
    background: #f0eeed;
    border-bottom: 3px solid #dddddd;
    width:100%;
    text-align: right;
    form {
        margin: 5px 5px 5px auto;
        input[type="submit"] {
            width: auto;
            text-align: center;
            border: 0;
            background: #3888c2;
            color: #FFF;
            border-radius: 4px;
            font-size: 16px;
            padding: 6px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.page p.message {
    background: #ffeca4;
    border: 1px solid #f16702;
    padding: 1em;
    width: 444px;
}
.note-designer {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}