//Colors
$black: black;
$white: white;

$dark-white: rgb(221, 221, 221);
$light-black: rgba(10, 10, 10, 1);
$gray: rgb(61, 61, 61);
$item-bg: $gray;

$turquoise: rgba(110, 197, 191, 1);

// Breakpoints
$bp-desktop: 1200px;
$bp-tablet: 770px;
$bp-phone: 500px;
$bp-xs: 415px;


//Borders
$border-radius: 0.3rem;

//Fonts
$font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;


//Animations
// @keyframes mouth-smile{
//     0% {
//         opacity: 0;
//     };
//     50% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes clicked {
//     0% {
//         scale: 1.02;
//     }
//     50% {
//         scale: 1.00;
//     }
//     100% {
//         scale: 1.02;
//     }
// }